
  <% if (locals.users) { %>
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Hostname</th>
            <th>Port</th>
            <th>State</th>
            <th>Ping (in ms)</th>
          </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Hostname</th>
                <th>Port</th>
                <th>State</th>
                <th>Ping (in ms)</th>
              </tr>
        </tfoot>
        <tbody>
  
          <% for(var i=0; i<locals.users.length; i++) { %>
            <tr>
                <% for (var j = 0; j < 5; j++ ) {%>
                  <% if (locals.users[i][j] == "Online") {%>
                    <td style="background-color: green;"><%= locals.users[i][j]%></td>
                  <% } else if (locals.users[i][j] == "Offline") {%>
                    <td style="background-color: red;"><%= locals.users[i][j]%></td>
                  <%} else {%>
                    <td><%= locals.users[i][j]%></td>
                <%}%>
                <%}%>
            </tr>
            
          <% } %>
  
        </tbody>
    </table>
  <% } %>